@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 10;
  align-items: center;
  box-sizing: border-box;
}

input{
  font-size: 18px;
  color: rgb(82, 3, 82);
  text-align: center;
}
span {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}

button {
  background-color: purple;
  color: white;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover{
    background-color: rgb(213, 128, 223);
    color:#020a11;
}